<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22727084704-au2ikrcplthms93dbepf26b8bqdnb0aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22727084704-au2ikrcplthms93dbepf26b8bqdnb0aq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>22727084704-obcb7mj2rql6t1gsf103cqs8hki9g6ba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArkpaY3bU4Y3FEnH4u1RcOy9bqGJLnJRw</string>
	<key>GCM_SENDER_ID</key>
	<string>22727084704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantMonitoringApp</string>
	<key>PROJECT_ID</key>
	<string>plant-monitoring-cf196</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-monitoring-cf196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22727084704:ios:ed67825c3c5742811817c5</string>
	<key>DATABASE_URL</key>
	<string>https://plant-monitoring-cf196-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>